.container {
  display: flex;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  background-color: #adbddd;
  opacity: 0.6;
  button {
    padding: 6px 8px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
  }
}
